# Collecting data For Ranking Analysis

In [541]:
import pandas as pd
import pymongo
from re import sub
from decimal import Decimal
from pymongo import MongoClient
import numpy as np
import datetime
import matplotlib.pyplot as plt
import pylab
import scipy
from scipy import stats
from statsmodels.tsa.stattools import adfuller
from odo import odo
from decimal import Decimal
import operator
from bs4 import BeautifulSoup
import urllib

In [542]:
client_new = MongoClient('mongodb://igenie_readwrite:igenie@35.189.101.142:27017/dax_gcp')
db = client_new.dax_gcp
collection1 = db['fundamental analysis']
collection2 = db['price analysis']

In [6]:
## Check today's date and the date when results are collected
today_date = str(datetime.date.today())

## Collecting fundamental analysis

In [57]:
def fundamental_analysis_collection():
    industry_category_table= pd.DataFrame(list(collection1.find({'Table':'category analysis'})))
    ROCE_table = pd.DataFrame(list(collection1.find({'Table':'ROCE analysis'})))
    sales_table = pd.DataFrame(list(collection1.find({'Table':'Sales analysis'})))
    dividend_table = pd.DataFrame(list(collection1.find({'Table':'dividend analysis'})))
    profit_margin_table = pd.DataFrame(list(collection1.find({'Table':'profit margin analysis'})))
    PER_table = pd.DataFrame(list(collection1.find({'Table':'PER analysis'})))
    EPS_table = pd.DataFrame(list(collection1.find({'Table':'EPS analysis'})))
    EBITDA_table = pd.DataFrame(list(collection1.find({'Table':'EBITDA analysis'})))
    return industry_category_table,ROCE_table,sales_table,dividend_table,profit_margin_table,PER_table,EPS_table,EBITDA_table

In [543]:
industry_category_table,ROCE_table,sales_table,dividend_table,profit_margin_table,PER_table,EPS_table,EBITDA_table=fundamental_analysis_collection()

## Collecting price analysis

In [443]:
def price_analysis_collection(): 
    cumulative_returns_table = pd.DataFrame(list(collection2.find({'Table':'cumulative return analysis'})))
    quarter_mean_table = pd.DataFrame(list(collection2.find({'Table':'quarterly growth analysis'})))
    standard_dev_table = pd.DataFrame(list(collection2.find({'Table':'standard deviation analysis'})))
    ATR_table = pd.DataFrame(list(collection2.find({'Table':'ATR analysis'})))
    market_signal_table = pd.DataFrame(list(collection2.find({'Table':'Market signal'})))
    dividend_table = pd.DataFrame(list(collection2.find({'Table':'dividend analysis'})))
    return cumulative_returns_table,quarter_mean_table,standard_dev_table,ATR_table,market_signal_table,dividend_table

In [544]:
cumulative_returns_table,quarter_mean_table,standard_dev_table,ATR_table,market_signal_table,dividend_table=price_analysis_collection()

# Fundamental Growth Ranking

In [109]:
## Scores the growth of fundamental values out of 12
def fundamental_growth_scoring():
    fundamental_score_board = pd.DataFrame()
    ## Note that pandas could not locate special German alphabets, hence use unicode notations
    ## Münchener Rückversicherungs-Gesellschaft:u'M\xfcnchener R\xfcckversicherungs-Gesellschaft'
    ## Deutsche Börse: u'Deutsche B\xf6rse'
    all_constituents = ['Allianz', 'adidas', 'BASF', 'Bayer', 'Beiersdorf','BMW', 'Commerzbank', 'Continental', 'Daimler','Deutsche Bank', u'Deutsche B\xf6rse', 'Deutsche Post','Deutsche Telekom', 'EON', 'Fresenius', 'HeidelbergCement', 'Infineon','Linde','Lufthansa', 'Merck', 'RWE', 'SAP', 'Siemens', 'thyssenkrupp','Vonovia','Fresenius Medical Care',u'M\xfcnchener R\xfcckversicherungs-Gesellschaft','ProSiebenSat1 Media','Volkswagen (VW) vz']
    table_list = [ROCE_table,sales_table,profit_margin_table,PER_table,EPS_table,EBITDA_table]
    score_list = ['ROCE score','Sales score','Profit margin score','PER score','EPS score','EBITDA score']
    n=len(table_list)
    for constituent in all_constituents: 
        fundamental_score_array = np.zeros(n)
        for i in range(n):
            table = table_list[i]
            if table[score_list[i]].loc[table['Constituent']==constituent].empty == False:
                score = int(table[score_list[i]].loc[table['Constituent']==constituent].values[0])
                fundamental_score_array[i]=score 
            else:
                score = 'N/A'
                fundamental_score_array[i]=0
                print str(score_list[i]) + ' for '+ str(constituent) + ' is not avaliable'
            total_score = sum(fundamental_score_array)
        fundamental_score_board = fundamental_score_board.append(pd.DataFrame({'Constituent':constituent, 'Fundamental growth score':total_score,'ROCE score':fundamental_score_array[0],'Sales score':fundamental_score_array[1],'Profit margin score':fundamental_score_array[2],'PER score':fundamental_score_array[3],'EPS score':fundamental_score_array[4],'EBITDA score':fundamental_score_array[5]},index=[0]),ignore_index=True)
        columnsTitles =  ['Constituent','Fundamental growth score','ROCE score','Sales score','Profit margin score','PER score','EPS score','EBITDA score']
        fundamental_score_board=fundamental_score_board.reindex(columns=columnsTitles)
        fundamental_score_board= fundamental_score_board.sort_values('Fundamental growth score',axis=0, ascending=False).reset_index(drop=True)
    return fundamental_score_board

In [110]:
fundamental_score_board=fundamental_growth_scoring()

ROCE score for Commerzbank is not avaliable
Sales score for Commerzbank is not avaliable
EBITDA score for Commerzbank is not avaliable
ROCE score for Deutsche Bank is not avaliable
Sales score for Deutsche Bank is not avaliable
EBITDA score for Deutsche Bank is not avaliable
[ 2.  0.  0.  2.  0.  0.]
ROCE score for Volkswagen (VW) vz is not avaliable
Sales score for Volkswagen (VW) vz is not avaliable
Profit margin score for Volkswagen (VW) vz is not avaliable
PER score for Volkswagen (VW) vz is not avaliable
EPS score for Volkswagen (VW) vz is not avaliable
EBITDA score for Volkswagen (VW) vz is not avaliable

In [111]:
fundamental_score_board

,Constituent,Fundamental growth score,ROCE score,Sales score,Profit margin score,PER score,EPS score,EBITDA score
0,Infineon,11.0,2.0,2.0,2.0,1.0,2.0,2.0
1,Fresenius,10.0,0.0,2.0,2.0,2.0,2.0,2.0
2,Deutsche Börse,10.0,2.0,2.0,2.0,0.0,2.0,2.0
3,Beiersdorf,10.0,2.0,2.0,2.0,0.0,2.0,2.0
4,adidas,10.0,1.0,2.0,1.0,2.0,2.0,2.0
5,Merck,10.0,2.0,2.0,2.0,0.0,2.0,2.0
6,Siemens,9.0,2.0,2.0,0.0,1.0,2.0,2.0
7,Deutsche Telekom,9.0,1.0,2.0,2.0,0.0,2.0,2.0
8,SAP,8.0,0.0,2.0,0.0,2.0,2.0,2.0
9,BMW,8.0,0.0,2.0,2.0,0.0,2.0,2.0
10,Bayer,8.0,0.0,2.0,2.0,2.0,0.0,2.0
11,Lufthansa,8.0,2.0,0.0,2.0,0.0,2.0,2.0
12,HeidelbergCement,8.0,0.0,2.0,0.0,2.0,2.0,2.0
13,Vonovia,8.0,0.0,2.0,2.0,0.0,2.0,2.0
14,Deutsche Post,8.0,2.0,0.0,2.0,0.0,2.0,2.0
15,Fresenius Medical Care,7.0,0.0,2.0,1.0,0.0,2.0,2.0
16,Allianz,6.0,0.0,0.0,2.0,0.0,2.0,2.0
17,thyssenkrupp,6.0,2.0,0.0,1.0,1.0,0.0,2.0
18,ProSiebenSat1 Media,6.0,0.0,2.0,0.0,0.0,2.0,2.0
19,Linde,5.0,0.0,0.0,1.0,2.0,1.0,1.0
20,Continental,5.0,0.0,2.0,0.0,0.0,2.0,1.0
21,BASF,5.0,0.0,0.0,2.0,2.0,0.0,1.0
22,EON,4.0,2.0,0.0,0.0,2.0,0.0,0.0
23,Daimler,3.0,0.0,2.0,0.0,0.0,0.0,1.0
24,Commerzbank,2.0,0.0,0.0,0.0,2.0,0.0,0.0
25,RWE,2.0,0.0,0.0,0.0,2.0,0.0,0.0
26,Münchener Rückversicherungs-Gesellschaft,2.0,0.0,0.0,0.0,2.0,0.0,0.0
27,Deutsche Bank,1.0,0.0,0.0,0.0,1.0,0.0,0.0
28,Volkswagen (VW) vz,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Current Fundamental Ranking

### Calculate the statistics for current fundamental values on all the DAX-30 constituents

In [184]:
## Calculate the mean and standard deviation on all the fundamental elements based on overall data of DAX-30 constituents. 
def current_fundamental_stats():
    fundamental_stats_table = pd.DataFrame()
    table_list = [ROCE_table,sales_table,profit_margin_table,PER_table,EPS_table,EBITDA_table]
    current_values_list = ['Current ROCE','Current sales in Mio','Current profit margin','Current PER','Current EPS','Current EBITDA in Mio']
    n=len(table_list)
    stats_array = np.zeros((n,2))
    for i in range(n):
        table = table_list[i]
        mean = round(table[current_values_list[i]].mean(),2)
        std_dev = round(table[current_values_list[i]].std(),2)
        max_val = table[current_values_list[i]].max()
        min_val = table[current_values_list[i]].min()
        stats_array[i,0]=mean
        stats_array[i,1]=std_dev
        
        ## categorise boundaries for scoring system, using mean and standard deviation
        top_lower = mean+std_dev
        good_lower=mean+std_dev*0.5
        fair_lower =mean-0.5*std_dev
        below_ave_lower =mean-1.0*std_dev
        
        fundamental_stats_table=fundamental_stats_table.append(pd.DataFrame({'Fundamental quantity':current_values_list[i],'Mean':mean,'Standard deviation':std_dev,'Maximum':max_val, 'Minimum':min_val,'Top lower-bound':top_lower, 'Good lower-bound':good_lower,'Fair lower-bound':fair_lower},index=[0]),ignore_index=True)
    return fundamental_stats_table

In [185]:
current_fundamental_stats_table=current_fundamental_stats()

In [186]:
current_fundamental_stats_table

,Fair lower-bound,Fundamental quantity,Good lower-bound,Maximum,Mean,Minimum,Standard deviation,Top lower-bound
0,9.010,Current ROCE,15.090,21.88,12.05,0.83,6.08,18.13
1,22788.460,Current sales in Mio,60490.660,153261.00,41639.56,2209.30,37702.20,79341.76
2,1.360,Current profit margin,20.760,104.15,11.06,-4.52,19.40,30.46
3,13.470,Current PER,21.750,40.55,17.61,3.23,8.28,25.89
4,2.815,Current EPS,7.165,16.13,4.99,0.22,4.35,9.34
5,3605.750,Current EBITDA in Mio,9003.950,21420.00,6304.85,1009.84,5398.20,11703.05

### Creating a scoring system based on the statistics

In [239]:
## Scores the current fundamenal values out of 24. 
def current_fundamental_scoring(stats_table,table_list):
    table_list = [ROCE_table,sales_table,profit_margin_table,PER_table,EPS_table,EBITDA_table]
    current_values_list = ['Current ROCE','Current sales in Mio','Current profit margin','Current PER','Current EPS','Current EBITDA in Mio']
    all_constituents = ['Allianz', 'adidas', 'BASF', 'Bayer', 'Beiersdorf','BMW', 'Commerzbank', 'Continental', 'Daimler','Deutsche Bank', u'Deutsche B\xf6rse', 'Deutsche Post','Deutsche Telekom', 'EON', 'Fresenius', 'HeidelbergCement', 'Infineon','Linde','Lufthansa', 'Merck', 'RWE', 'SAP', 'Siemens', 'thyssenkrupp','Vonovia','Fresenius Medical Care',u'M\xfcnchener R\xfcckversicherungs-Gesellschaft','ProSiebenSat1 Media','Volkswagen (VW) vz']
    #all_constituents = ['Allianz']
    m=len(table_list)
    n=len(all_constituents)
    current_fundamental_board = pd.DataFrame()
    current_fundamental_array=np.zeros((n,m))
    for j in range(m): ##loop through fundamental quantities
        array = np.zeros(n) #this array stores scores of one particular fundamental quantity for each constituent. 
        table = table_list[j]
        top_lower = float(stats_table['Top lower-bound'].loc[stats_table['Fundamental quantity']==current_values_list[j]])
        good_lower = float(stats_table['Good lower-bound'].loc[stats_table['Fundamental quantity']==current_values_list[j]])
        fair_lower = float(stats_table['Fair lower-bound'].loc[stats_table['Fundamental quantity']==current_values_list[j]])
       
        
        for i in range(n): ##loop through constituents
            constituent = all_constituents[i]
            #print constituent
            if table[current_values_list[j]].loc[table['Constituent']==constituent].empty==False: 
                value = float(table[current_values_list[j]].loc[table['Constituent']==constituent])
                #print value
                #print top_lower
                if value > top_lower:
                    score = 4 #top-performing
                elif value > good_lower:
                    score = 2 #well-performing
                elif value> fair_lower:
                    score = 1 #fair-performing
                else: 
                    score = 0 #poorly-performing
                current_fundamental_array[i,j]=score
            else: 
                print current_values_list[j]+'=N/A for '+constituent
                score=0
                current_fundamental_array[i,j]=score
            #print score
            
        current_fundamental_sum = sum(current_fundamental_array) ##sum the values on the same row
        
        #current_fundamental_array stores all the info needed to calculate scores
    for i in range(n): ## loop constituents
        temp = {'Constituent':all_constituents[i], 'Current fundamental total score':sum(current_fundamental_array[i,:])}
        score_dict = {str(current_values_list[j]):int(current_fundamental_array[i,j]) for j in range(m)}
        score_dict.update(temp.copy())
        current_fundamental_board=current_fundamental_board.append(pd.DataFrame(score_dict,index=[0]),ignore_index=True)
        columnsTitles =  ['Constituent','Current fundamental total score','Current ROCE','Current sales in Mio','Current profit margin','Current PER','Current EPS','Current EBITDA in Mio']
        current_fundamental_board=current_fundamental_board.reindex(columns=columnsTitles)
        current_fundamental_board= current_fundamental_board.sort_values('Current fundamental total score',axis=0, ascending=False).reset_index(drop=True)
    return current_fundamental_board

In [240]:
current_fundamental_board=current_fundamental_scoring(current_fundamental_stats_table,table_list)

Current ROCE=N/A for Commerzbank
Current ROCE=N/A for Deutsche Bank
Current ROCE=N/A for Volkswagen (VW) vz
Current sales in Mio=N/A for Commerzbank
Current sales in Mio=N/A for Deutsche Bank
Current sales in Mio=N/A for Volkswagen (VW) vz
Current profit margin=N/A for Volkswagen (VW) vz
Current PER=N/A for Volkswagen (VW) vz
Current EPS=N/A for Volkswagen (VW) vz
Current EBITDA in Mio=N/A for Commerzbank
Current EBITDA in Mio=N/A for Deutsche Bank
Current EBITDA in Mio=N/A for Volkswagen (VW) vz

In [241]:
current_fundamental_board

,Constituent,Current fundamental total score,Current ROCE,Current sales in Mio,Current profit margin,Current PER,Current EPS,Current EBITDA in Mio
0,BMW,13.0,0,4,1,0,4,4
1,Deutsche Telekom,12.0,4,2,1,1,0,4
2,Allianz,11.0,0,4,1,0,4,2
3,Continental,11.0,4,1,1,0,4,1
4,Daimler,11.0,0,4,1,0,2,4
5,Siemens,10.0,1,4,1,1,1,2
6,Bayer,8.0,2,1,1,1,1,2
7,BASF,8.0,2,1,1,1,1,2
8,Fresenius,8.0,2,1,1,2,1,1
9,SAP,7.0,2,0,2,1,1,1
10,adidas,7.0,1,0,1,4,1,0
11,Münchener Rückversicherungs-Gesellschaft,6.0,0,1,1,0,4,0
12,Linde,6.0,1,0,1,2,1,1
13,ProSiebenSat1 Media,6.0,4,0,1,1,0,0
14,Merck,6.0,2,0,1,1,1,1
15,thyssenkrupp,5.0,0,1,0,4,0,0
16,Beiersdorf,5.0,1,0,1,2,1,0
17,Deutsche Post,5.0,1,1,1,1,0,1
18,Lufthansa,5.0,1,1,1,0,1,1
19,Fresenius Medical Care,5.0,2,0,1,1,1,0
20,Commerzbank,5.0,0,0,1,4,0,0
21,Vonovia,5.0,0,0,4,0,1,0
22,Deutsche Börse,4.0,0,0,2,1,1,0
23,EON,4.0,0,1,1,1,0,1
24,HeidelbergCement,4.0,1,0,1,1,1,0
25,Infineon,4.0,2,0,1,1,0,0
26,RWE,3.0,0,1,1,0,0,1
27,Deutsche Bank,0.0,0,0,0,0,0,0
28,Volkswagen (VW) vz,0.0,0,0,0,0,0,0

# Stock Price Growth Ranking

### Scoring system based on statistics

In [533]:
## Calculate the mean and standard deviation on all the fundamental elements based on overall data of DAX-30 constituents. 
def price_growth_stats():
    price_stats_table = pd.DataFrame()
    price_table_list = table_list = [cumulative_returns_table,cumulative_returns_table,quarter_mean_table,quarter_mean_table,market_signal_table]
    price_growth_list = ['1 year return','3 years return','Rate of change in price in the last 365 days/quarter','Rate of change in price in the last 3 years/quarter','Current RSI']
    n=len(table_list)
    stats_array = np.zeros((n,2))
    for i in range(n):
        table = table_list[i]
        mean = table[price_growth_list[i]].mean()
        std_dev = table[price_growth_list[i]].std()
        max_val = table[price_growth_list[i]].max()
        min_val = table[price_growth_list[i]].min()
        stats_array[i,0]=mean
        stats_array[i,1]=std_dev
        
        ## categorise boundaries for scoring system, using mean and standard deviation
        top_lower = max(mean+std_dev,0)
        good_lower=max(mean+std_dev*0.5,0)
        fair_lower =max(mean-0.5*std_dev,0)
        below_ave_lower =mean-1.0*std_dev
        
        price_stats_table=price_stats_table.append(pd.DataFrame({'Price growth quantity':price_growth_list[i],'Mean':mean,'Standard deviation':std_dev,'Maximum':max_val, 'Minimum':min_val,'Top lower-bound':top_lower, 'Good lower-bound':good_lower,'Fair lower-bound':fair_lower},index=[0]),ignore_index=True)
    return price_stats_table

In [545]:
price_stats_table=price_growth_stats()

In [546]:
price_stats_table

,Fair lower-bound,Good lower-bound,Maximum,Mean,Minimum,Price growth quantity,Standard deviation,Top lower-bound
0,0.031590,0.265731,0.924500,0.148661,-0.183755,1 year return,0.234140,0.382801
1,0.043431,0.565161,2.245679,0.304296,-0.447682,3 years return,0.521730,0.826026
2,2.387314,6.146479,14.460000,4.266897,-0.390000,Rate of change in price in the last 365 days/q...,3.759165,8.026062
3,0.000000,2.099098,10.840000,0.693448,-7.180000,Rate of change in price in the last 3 years/qu...,2.811299,3.504747
4,40.355419,57.227339,78.820000,48.791379,10.060000,Current RSI,16.871920,65.663299

In [538]:
## Scores the growth of price out of 24. 
def price_growth_scoring(stats_table,price_table_list):
    #price_table_list = [cumulative_returns_table,cumulative_returns_table,quarter_mean_table,quarter_mean_table,market_signal_table]
    price_growth_list = ['1 year return','3 years return','Rate of change in price in the last 365 days/quarter','Rate of change in price in the last 3 years/quarter','Current RSI']
    all_constituents = ['Allianz', 'adidas', 'BASF', 'Bayer', 'Beiersdorf','BMW', 'Commerzbank', 'Continental', 'Daimler','Deutsche Bank', u'Deutsche B\xf6rse', 'Deutsche Post','Deutsche Telekom', 'EON', 'Fresenius', 'HeidelbergCement', 'Infineon','Linde','Lufthansa', 'Merck', 'RWE', 'SAP', 'Siemens', 'thyssenkrupp','Vonovia','Fresenius Medical Care',u'M\xfcnchener R\xfcckversicherungs-Gesellschaft','ProSiebenSat1 Media','Volkswagen (VW) vz']
    #all_constituents = ['Allianz']
    m=len(price_table_list)
    n=len(all_constituents)
    price_growth_board = pd.DataFrame()
    price_growth_array=np.zeros((n,m))
    
    for j in range(m): ##loop through fundamental quantities
        array = np.zeros(n) #this array stores scores of one particular fundamental quantity for each constituent. 
        table = price_table_list[j]
        #print str(table)
        top_lower = float(stats_table['Top lower-bound'].loc[stats_table['Price growth quantity']==price_growth_list[j]])
        good_lower = float(stats_table['Good lower-bound'].loc[stats_table['Price growth quantity']==price_growth_list[j]])
        fair_lower = float(stats_table['Fair lower-bound'].loc[stats_table['Price growth quantity']==price_growth_list[j]])
        
        for i in range(n): ##loop through constituents
            constituent = all_constituents[i]
            if table[price_growth_list[j]].loc[table['Constituent']==constituent].empty==False: 
                value =  table[price_growth_list[j]].loc[table['Constituent']==constituent].values[0]
                
                if value > top_lower:
                    score = 4 #top-performing
                elif value > good_lower:
                    score = 3 #well-performing
                elif value> fair_lower:
                    score = 2 #fair-performing
                else: 
                    score = 1 #poorly-performing
                price_growth_array[i,j]=score
            else: 
                print price_growth_list[j]+'=N/A for '+constituent
                score=0
                price_growth_array[i,j]=score
        
    for i in range(n): ## loop constituents
        temp = {'Constituent':all_constituents[i], 'Price growth score':sum(price_growth_array[i,:])}
        score_dict = {str(price_growth_list[j]):int(price_growth_array[i,j]) for j in range(m)}
        score_dict.update(temp.copy())
        price_growth_board=price_growth_board.append(pd.DataFrame(score_dict,index=[0]),ignore_index=True)
    
    ## Append the consistency scores into the calculation of total price growth score
    CR_table = price_table_list[0]
    QM_table = price_table_list[2]
    market_signal_table = price_table_list[-1]
    price_growth_board = price_growth_board.merge(CR_table[['Constituent','Cumulative return consistency score']], on='Constituent',how='inner')
    price_growth_board = price_growth_board.merge(QM_table[['Constituent','Quarterly growth consistency score']], on='Constituent',how='inner')
    price_growth_board = price_growth_board.merge(market_signal_table[['Constituent','Bull score (crossing)']],on='Constituent',how='inner')
    price_growth_board['Total price growth score']=price_growth_board['Cumulative return consistency score']+price_growth_board['Quarterly growth consistency score']+price_growth_board['Bull score (crossing)']+price_growth_board['Price growth score']
    columnsTitles = ['Constituent','Total price growth score','Price growth score','Cumulative return consistency score','Quarterly growth consistency score','1 year return','3 years return','Rate of change in price in the last 365 days/quarter','Rate of change in price in the last 3 years/quarter','Current RSI','Bull score (crossing)']
    price_growth_board=price_growth_board.reindex(columns=columnsTitles)
    price_growth_board= price_growth_board.sort_values('Total price growth score',axis=0, ascending=False).reset_index(drop=True)
    return price_growth_board

In [539]:
price_table_list = [cumulative_returns_table,cumulative_returns_table,quarter_mean_table,quarter_mean_table,market_signal_table]
price_growth_board =price_growth_scoring(price_stats_table,price_table_list)

In [540]:
price_growth_board

,Constituent,Total price growth score,Price growth score,Cumulative return consistency score,Quarterly growth consistency score,1 year return,3 years return,Rate of change in price in the last 365 days/quarter,Rate of change in price in the last 3 years/quarter,Current RSI,Bull score (crossing)
0,adidas,27.0,16.0,4,4,2,4,4,4,2,3
1,Lufthansa,24.0,12.0,4,3,4,2,1,1,4,5
2,Allianz,23.0,14.0,4,4,3,2,4,3,2,1
3,Deutsche Börse,22.0,13.0,4,4,2,3,2,3,3,1
4,Infineon,22.0,13.0,4,4,2,4,1,2,4,1
5,Linde,21.0,11.0,4,3,2,2,4,1,2,3
6,Beiersdorf,20.0,11.0,4,4,2,2,2,2,3,1
7,SAP,20.0,11.0,4,4,2,2,2,3,2,1
8,Münchener Rückversicherungs-Gesellschaft,18.0,11.0,2,4,2,2,4,2,1,1
9,Bayer,18.0,10.0,4,3,2,2,3,1,2,1
10,Fresenius Medical Care,18.0,10.0,3,4,1,2,1,3,3,1
11,Deutsche Post,18.0,9.0,4,4,2,2,1,2,2,1
12,thyssenkrupp,17.0,8.0,4,2,2,2,1,2,1,3
13,Fresenius,17.0,15.0,2,4,2,4,2,3,4,-4
14,Continental,16.0,9.0,4,4,1,2,2,2,2,-1
15,Commerzbank,16.0,8.0,3,3,4,1,1,1,1,2
16,EON,15.0,7.0,3,0,2,1,1,1,2,5
17,Siemens,15.0,13.0,2,4,2,2,4,3,2,-4
18,Vonovia,15.0,8.0,3,4,1,2,1,2,2,0
19,RWE,14.0,10.0,3,1,3,1,1,1,4,0
20,BASF,14.0,12.0,2,4,2,2,3,2,3,-4
21,HeidelbergCement,10.0,10.0,1,4,1,2,2,3,2,-5
22,Merck,10.0,10.0,1,4,1,2,2,3,2,-5
23,Volkswagen (VW) vz,9.0,9.0,1,3,2,1,3,1,2,-4
24,Deutsche Telekom,8.0,7.0,2,4,1,2,1,2,1,-5
25,Daimler,8.0,9.0,0,3,1,1,2,1,4,-4
26,ProSiebenSat1 Media,8.0,7.0,1,4,1,2,1,2,1,-4
27,BMW,7.0,7.0,1,3,1,1,2,1,2,-4
28,Deutsche Bank,3.0,6.0,1,1,2,1,1,1,1,-5

# Golden cross and momentum measurement

In [522]:
market_signal_table['Bull score (RSI)']

0     1
1     1
2     1
3     1
4     1
5     1
6     0
7     0
8     0
9    -1
10    1
11    1
12   -1
13    1
14    1
15    0
16    1
17    1
18    2
19    0
20    2
21    1
22    1
23    1
24    1
25    1
26    1
27   -1
28    0
Name: Bull score (RSI), dtype: int64

In [ ]:
## Note that Bull scores derived from RSI and crossing are medium-term forcast
## RSI,bull score

## Measuring profitability from Cross Analysis results

In [ ]:
#Average return from golden cross

#No.Days duration from golden cross to reach the maximum

#Golden cross period vs. crossing frequency

## Measuring risk from Cross Analysis results

In [ ]:
#Crossing Frequency
#%days overbought/oversell

# Combined Profitability Ranking

### Combine the score for Price growth, Current Fundamental values, and Fundamental growth

In [471]:
## Combined profitability scores the price growth and fundamental potential out of 60. 
def combined_profitability_scoring(): 
    board_list = [price_growth_board,current_fundamental_board,fundamental_score_board]
    score_list = ['Total price growth score','Current fundamental total score','Fundamental growth score']
    n=len(board_list)
    combined_profitability_board = pd.DataFrame()
    temp = board_list[0]
    for i in range(n-1):
        temp = temp.merge(board_list[i+1],on='Constituent',how='left')
    
    temp['Total profitability score']=temp['Total price growth score']+temp['Current fundamental total score']+temp['Fundamental growth score']
    combined_profitability_board = pd.DataFrame(temp[['Constituent','Total profitability score','Total price growth score','Current fundamental total score','Fundamental growth score']])
    #combined_profitability_board = combined_profitability_board.sort_values('Total profitability score',axis=0, ascending=False).reset_index(drop=True)
    return combined_profitability_board

In [472]:
combined_profitability_board=combined_profitability_scoring()

In [473]:
combined_profitability_board

,Constituent,Total profitability score,Total price growth score,Current fundamental total score,Fundamental growth score
0,adidas,39.0,22.0,7.0,10.0
1,Allianz,37.0,20.0,11.0,6.0
2,Deutsche Börse,32.0,18.0,4.0,10.0
3,Siemens,36.0,17.0,10.0,9.0
4,SAP,32.0,17.0,7.0,8.0
5,Infineon,32.0,17.0,4.0,11.0
6,Fresenius,35.0,17.0,8.0,10.0
7,Beiersdorf,31.0,16.0,5.0,10.0
8,Münchener Rückversicherungs-Gesellschaft,24.0,16.0,6.0,2.0
9,Linde,27.0,16.0,6.0,5.0
10,Continental,31.0,15.0,11.0,5.0
11,BASF,28.0,15.0,8.0,5.0
12,Bayer,31.0,15.0,8.0,8.0
13,Lufthansa,28.0,15.0,5.0,8.0
14,Deutsche Post,28.0,15.0,5.0,8.0
15,Fresenius Medical Care,26.0,14.0,5.0,7.0
16,HeidelbergCement,25.0,13.0,4.0,8.0
17,Merck,29.0,13.0,6.0,10.0
18,Commerzbank,20.0,13.0,5.0,2.0
19,thyssenkrupp,24.0,13.0,5.0,6.0
20,Vonovia,26.0,13.0,5.0,8.0
21,Deutsche Telekom,33.0,12.0,12.0,9.0
22,ProSiebenSat1 Media,23.0,11.0,6.0,6.0
23,Volkswagen (VW) vz,11.0,11.0,0.0,0.0
24,RWE,15.0,10.0,3.0,2.0
25,BMW,30.0,9.0,13.0,8.0
26,EON,16.0,8.0,4.0,4.0
27,Daimler,22.0,8.0,11.0,3.0
28,Deutsche Bank,8.0,7.0,0.0,1.0

# Volatility Ranking

In [ ]:
## Market Risk due to Volatility: Price volatility and crossing frequency

In [372]:
## gather the statistics
def volatility_stats():
    volatility_stats_table = pd.DataFrame()
    volatility_table_list = [standard_dev_table,standard_dev_table,ATR_table,ATR_table,market_signal_table]
    volatility_list = ['Last 12 months','Last 3 years','Average ATR in the last 12 months','Average ATR in the last 3 years','Crossing frequency per year']
    n=len(volatility_table_list)
    for i in range(n):
        table = volatility_table_list[i]
        mean = table[volatility_list[i]].mean()
        std_dev = table[volatility_list[i]].std()
        max_val = table[volatility_list[i]].max()
        min_val = table[volatility_list[i]].min()
        
        ## categorise boundaries for scoring system, using mean and standard deviation
        high_lower = min(max_val,mean+std_dev)
        medium_lower=max(min(max_val,mean-std_dev*0.5),max(min_val,mean-std_dev*0.5))
        
        volatility_stats_table=volatility_stats_table.append(pd.DataFrame({'Volatility quantity':volatility_list[i],'Mean':mean,'Standard deviation':std_dev,'Maximum':max_val, 'Minimum':min_val,'High volatility lower-bound':high_lower, 'Medium volatility lower-bound':medium_lower},index=[0]),ignore_index=True)
    return volatility_stats_table

In [374]:
volatility_stats_table=volatility_stats()

In [375]:
volatility_stats_table

,High volatility lower-bound,Maximum,Mean,Medium volatility lower-bound,Minimum,Standard deviation,Volatility quantity
0,2.580561,4.34,1.509310,0.973685,0.26,1.071251,Last 12 months
1,3.375866,5.81,1.938276,1.219481,0.35,1.437590,Last 3 years
2,1.938251,2.81,1.141379,0.742943,0.16,0.796872,Average ATR in the last 12 months
3,2.412866,4.03,1.379655,0.863050,0.25,1.033211,Average ATR in the last 3 years
4,1.996778,2.85,1.572759,1.360749,0.83,0.424019,Crossing frequency per year

In [387]:
#Scores out of 15. 
def volatility_scoring(stats_table,volatility_table_list):
    volatility_table_list = [standard_dev_table,standard_dev_table,ATR_table,ATR_table,market_signal_table]
    volatility_list = ['Last 12 months','Last 3 years','Average ATR in the last 12 months','Average ATR in the last 3 years','Crossing frequency per year']
    m=len(volatility_table_list)
    all_constituents = ['Allianz', 'adidas', 'BASF', 'Bayer', 'Beiersdorf','BMW', 'Commerzbank', 'Continental', 'Daimler','Deutsche Bank', u'Deutsche B\xf6rse', 'Deutsche Post','Deutsche Telekom', 'EON', 'Fresenius', 'HeidelbergCement', 'Infineon','Linde','Lufthansa', 'Merck', 'RWE', 'SAP', 'Siemens', 'thyssenkrupp','Vonovia','Fresenius Medical Care',u'M\xfcnchener R\xfcckversicherungs-Gesellschaft','ProSiebenSat1 Media','Volkswagen (VW) vz']
    #all_constituents = ['Allianz']
    n=len(all_constituents)
    volatility_score_board = pd.DataFrame()
    volatility_score_array=np.zeros((n,m))
    
    for j in range(m): ##loop through fundamental quantities
        table = volatility_table_list[j]
        high_lower = float(stats_table['High volatility lower-bound'].loc[stats_table['Volatility quantity']==volatility_list[j]])
        medium_lower = float(stats_table['Medium volatility lower-bound'].loc[stats_table['Volatility quantity']==volatility_list[j]])
        
        for i in range(n): ##loop through constituents
            constituent = all_constituents[i]
            if table[volatility_list[j]].loc[table['Constituent']==constituent].empty==False: 
                value =  table[volatility_list[j]].loc[table['Constituent']==constituent].values[0]
                
                if value > high_lower:
                    score = 3 #high volatility
                elif value > medium_lower:
                    score = 2 #medium volatility
                else: 
                    score = 1 #low volatilility
                volatility_score_array[i,j]=score
            else: 
                print volatility_list[j]+'=N/A for '+constituent
                score=0
                volatility_score_array[i,j]=score
        
    for i in range(n): ## loop constituents
        temp = {'Constituent':all_constituents[i], 'Volatility score':sum(volatility_score_array[i,:])}
        score_dict = {str(volatility_list[j]):int(volatility_score_array[i,j]) for j in range(m)}
        score_dict.update(temp.copy())
        volatility_score_board =volatility_score_board.append(pd.DataFrame(score_dict,index=[0]),ignore_index=True)
    
    columnsTitles = ['Constituent','Volatility score','Last 12 months','Last 3 years','Average ATR in the last 12 months','Average ATR in the last 3 years','Crossing frequency per year']
    volatility_score_board =volatility_score_board.reindex(columns=columnsTitles)
    volatility_score_board = volatility_score_board.sort_values('Volatility score',axis=0, ascending=True).reset_index(drop=True)
    ## Append the consistency scores into the calculation of total price growth score
    return volatility_score_board

In [388]:
volatility_table_list = [standard_dev_table,standard_dev_table,ATR_table,ATR_table,market_signal_table]
volatility_score_board =volatility_scoring(volatility_stats_table,volatility_table_list)

# Color-allocation

In [501]:
def color_coding(combined_profitability_board,volatility_score_board):
    color_coding_table = pd.DataFrame()
    all_constituents = ['Allianz', 'adidas', 'BASF', 'Bayer', 'Beiersdorf','BMW', 'Commerzbank', 'Continental', 'Daimler','Deutsche Bank', u'Deutsche B\xf6rse', 'Deutsche Post','Deutsche Telekom', 'EON', 'Fresenius', 'HeidelbergCement', 'Infineon','Linde','Lufthansa', 'Merck', 'RWE', 'SAP', 'Siemens', 'thyssenkrupp','Vonovia','Fresenius Medical Care',u'M\xfcnchener R\xfcckversicherungs-Gesellschaft','ProSiebenSat1 Media','Volkswagen (VW) vz']
    all_constituents_dict = {'Allianz':'Allianz', 'Adidas':'adidas', 'BASF':'BASF', 'Bayer':'Bayer', 'Beiersdorf':'Beiersdorf',
                    'BMW':'BMW', 'Commerzbank':'Commerzbank', 'Continental':'Continental', 'Daimler':'Daimler',
                    'Deutsche Bank':'Deutsche Bank', 'Deutsche Börse':u'Deutsche B\xf6rse', 'Deutsche Post':'Deutsche Post',
                    'Deutsche Telekom':'Deutsche Telekom', 'EON':'EON', 'Fresenius Medical Care':'Fresenius Medical Care',
                    'Fresenius':'Fresenius', 'HeidelbergCement':'HeidelbergCement', 'Infineon':'Infineon',
                    'Linde':'Linde','Lufthansa':'Lufthansa', 'Merck':'Merck', 'Münchener Rückversicherungs-Gesellschaft': u'M\xfcnchener R\xfcckversicherungs-Gesellschaft',
                    'ProSiebenSat1 Media':'ProSiebenSat1 Media', 'RWE':'RWE', 'Siemens':'Siemens', 'thyssenkrupp':'thyssenkrupp',
                    'Volkswagen (VW) vz':'Volkswagen (VW) vz','Vonovia':'Vonovia'}
    for constituent in all_constituents_dict:
        ##Combined profitability: out of 60, Volatility out of 15
        print constituent
        profitability_score = combined_profitability_board['Total profitability score'].loc[combined_profitability_board['Constituent']==all_constituents_dict[constituent]].values[0]
        volatility_score = volatility_score_board['Volatility score'].loc[volatility_score_board['Constituent']==all_constituents_dict[constituent]].values[0]
        
        if profitability_score>35:
            profitability_color = 1
        elif profitability_score>19:
            profitability_color = 0
        else:
            profitability_color = -1
        
        if volatility_score<6:
            risk_color = 1
        elif volatility_score<12:
            risk_color = 0
        else:
            risk_color = -1
            
        color_coding_table=color_coding_table.append(pd.DataFrame({'Constituent':constituent, 'Profitability':profitability_color, 'Risk':risk_color},index=[0]),ignore_index=True)
    color_coding_table=color_coding_table.reindex(columns=['Constituent','Profitability','Risk'])
    
    return color_coding_table

In [502]:
color_coding_table=color_coding(combined_profitability_board,volatility_score_board)

Vonovia
EON
Infineon
Continental
Linde
Fresenius Medical Care
Siemens
Münchener Rückversicherungs-Gesellschaft
Beiersdorf
thyssenkrupp
ProSiebenSat1 Media
HeidelbergCement
Lufthansa
Bayer
BMW
Deutsche Bank
Commerzbank
Daimler
Allianz
Deutsche Börse
BASF
Deutsche Telekom
Merck
Fresenius
RWE
Adidas
Deutsche Post
Volkswagen (VW) vz

In [555]:
color_coding_table.loc[color_coding_table['Constituent'].isin(['Adidas','Commerzbank','Deutsche Bank', 'EON', 'BMW'])]

      Constituent  Profitability  Risk
1             EON             -1     0
14            BMW              0     0
15  Deutsche Bank             -1     0
16    Commerzbank              0     1
25         Adidas              1     0

# Updating the colors on Mongodb

In [550]:
def update_colors_mongodb(color_coding_table): 
    constituents_selected=['Adidas', 'Commerzbank', 'BMW', 'Deutsche Bank', 'EON']
    for constituent in constituents_selected:
        prof_color = color_coding_table['Profitability'].loc[color_coding_table['Constituent']==constituent].values[0]
        risk_color = color_coding_table['Risk'].loc[color_coding_table['Constituent']==constituent].values[0]
        db.summary_box.update_one({"constituent":constituent}, {"$set":{"profitability":prof_color, "risk":risk_color}})

In [551]:
update_colors_mongodb(color_coding_table)

In [552]:
##checking if update has been saved in the result table. 
data=db.summary_box.find({'constituent':"Adidas"})
data=pd.DataFrame(list(data))

In [553]:
data

,_id,constituent,date,news_rating,profitability,risk,state,twitter_sentiment
0,59b6ba6f6cf71398d76f634e,Adidas,2017-09-11 16:31:43.549,0.0,1,0,active,0.0